<% provide(:title, "Creature Creator") %>
<!--This is a static page layout for now-->
<%= javascript_include_tag "creator" %>
 <script type="text/javascript">
  var loadallpath = " ";
  var loadpath = " ";
  var updatepath = " ";
  var addpath = " ";
  var deletepath = " ";
 </script>
<div class="row">
  <div class="form-group col-md-3">
    <select id="charselect" class="form-control">
    </select>
  </div>
  <div class="col-md-3 btn-group">
    <input type="button" value="Load/Create" id="loadchar" class="btn btn-default"/>
    <input type="button" value="Save" id="savechar" class="btn btn-default"/>
    <input type="button" value="Delete" id="deletechar" class="btn btn-default" />
  </div>
</div>
<section id="charform" class="hidden">
<div class="row">
  <input type="hidden" name="charid" id="charid" value="NOCHARLOADED" />
  <div class="col-md-2 form-group">
    <label>Name: <input type="text" id="name" class="form-control" /></label>
  </div>
  <div class="col-md-2 form-group">
    <label>Class and Level: <input type="text" id="classlevel" class="form-control" /></label>
  </div>
  <div class="col-md-2 form-group">
  <label>Background: <input type="text" id="background" class="form-control" /></label>
  </div>
    
  <div class="col-md-2 form-group">
    <label>Race: <input type="text" id="race" class="form-control" /></label>
  </div>
  
  <div class="col-md-2 form-group">
    <label>Alignment: <input type="text" id="alignment" class="form-control" /></label>
  </div>
</div>
<div class="row">
  <div class="col-md-2 form-group">
    <label>Experience: <input type="number" id="experience" class="form-control" /></label>
  </div>
  
  <div class="col-md-2 form-group">
    <label>CR: <input type="number" id="cr" class="form-control" /></label>
  </div>
  
  <div class="col-md-2 form-group">
    <label>Proficiency Bonus: <input type="number" id="proficiencybonus" class="form-control" /></label>
  </div>
    <div class="col-md-2 form-group">
    <label>Armor Class: <input type="number" id="ac" class="form-control" /></label>
  </div>
    <div class="col-md-2 form-group">
    <label>Speed: <input type="text" id="speed" class="form-control" /></label>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <h4>Attributes</h4>
    <label for="str">Strength: <input type="number" id="str" class="form-control" /></label>
    <label for="dex">Dexterity: <input type="number" id="dex" class="form-control" /></label>
    <label for="con">Constitution: <input type="number" id="con" class="form-control" /></label>
    <label for="intel">Intelligence: <input type="number" id="intel" class="form-control" /></label>
    <label for="wis">Wisdom: <input type="number" id="wis" class="form-control" /></label>
    <label for="cha">Charisma: <input type="number" id="cha" class="form-control" /></label>
  </div>
  <div class="col-md-4">
    <h4>Abilities</h4>
    <label for="hpmax">Max HP: <input type="number" id="hpmax" class="form-control" /></label>
    <label for="hitdice"> Max Hitdice: <input id="hitdice" type="number" class="form-control" /></label>
    <label>Passive Perception <input type="number" id="passiveperception" class="form-control" /></label>
  </div>
  <div class="col-md-4">
    <h4>Saves</h4>
    <label>Strength: <input type="number" id="strsave" class="form-control" /></label>
    <label>Dexterity: <input type="number" id="dexsave" class="form-control" /></label>
    <label>Constitution: <input type="number" id="consave" class="form-control" /></label>
    <label>Intelligence: <input type="number" id="intsave" class="form-control" /></label>
    <label>Wisdom: <input type="number" id="wissave" class="form-control" /></label>
    <label>Charisma: <input type="number" id="chasave" class="form-control" /></label>
  </div>
</div>
<div class="row">
  <div class="col-md-2">
    <h4>Skills</h4>
    <label>Acrobatics: <input type="number" id="acrobatics" class="form-control" /></label>
    <label>Animal Handling: <input type="number" id="animalhandling" class="form-control" /></label>
    <label>Arcana: <input type="number" id="arcana" class="form-control" /></label>
    <label>Athletics: <input type="number" id="athletics" class="form-control" /></label>
    <label>Deception: <input type="number" id="deception" class="form-control" /></label>
    <label>History: <input type="number" id="history" class="form-control" /></label>
    <label>Insight: <input type="number" id="insight" class="form-control" /></label>
    <label>Intimidation: <input type="number" id="intimidation" class="form-control" /></label>
    <label>Investigation: <input type="number" id="investigation" class="form-control" /></label>

  </div>
  <div class="col-md-2">
    <h4>&nbsp;</h4>
    <label>Medicine: <input type="number" id="medicine" class="form-control" /></label>
    <label>Nature: <input type="number" id="nature" class="form-control" /></label>
    <label>Perception: <input type="number" id="perception" class="form-control" /></label>
    <label>Performance: <input type="number" id="performance" class="form-control" /></label>
    <label>Persuasion: <input type="number" id="persuasion" class="form-control" /></label>
    <label>Religion: <input type="number" id="religion" class="form-control" /></label>
    <label>Slight of Hand: <input type="number" id="slightofhand" class="form-control" /></label>
    <label>Stealth: <input type="number" id="stealth" class="form-control" /></label>
    <label>Survival: <input type="number" id="survival" class="form-control" /></label>
  </div>
<div class="col-md-8">
  <div class="row" id="attacksdiv">
    <h4>Attacks</h4>
    <div class="row attackrow">    
        <div class="col-md-4">
          <label for="attackname1">Attack: <input type="text" class="form-control attack" /></label>
        </div>
        <div class="col-md-2">
          <label for="attackbonus1">Bonus: <input type="number" class="form-control bonus" /></label>
        </div>  
        <div class="col-md-3">
          <label for="attackdamage1">Damage: <input type="text" class="form-control damage" /></label>
        </div>
    </div>
  </div>
  <div class="row">
      <div class="col-md-2 pull-right btn-group">
        <input type="button" class="btn btn-default" id="addattack" value="Add Attack" />
        
      </div>
    </div>
  <div class="form-group">
  <h4>Possessions</h4>
    <textarea id="possessions" class="form-control" rows="5"></textarea>
  </div>

  <div class="form-group">
    <h4>Physical Description</h4>
    <textarea class="form-control" id="physicaldescription" rows="5"></textarea>
  </div>

  <div class="form-group">
    <h4>Proficiencies, Features and Traits</h4>
    <textarea class="form-control" id="features" rows="5"></textarea>
  </div>
  </div>
</section>



