<% provide(:title, "DM Dashboard") %>
<!--This is a static page layout for now-->
<%= javascript_include_tag "encounterdashboard" "campaignjournal" %>
      <div id="templates" class="hidden">
        <div class="col-sm-4 character">
          <h4 class="name"></h4>
          <h5 class="race"></h5>
          <h5><span class="class level"></span>CR: <span class="cr"></span> (<span class="experience"></span> xp)</h5>
          <h5>Alignment: <span clas="alignment"></span> Background: <span class="background"></span></h5>
          <table class="table">
            <tr>
              <th>STR</th><th>DEX</th><th>CON</th><th>INT</th><th>WIS</th><th>CHA</th>
            </tr>
            <tr>
              <td class="str"></td><td class="dex"></td><td class="con"></td><td class="intel"></td><td class="wis"></td><td class="cha"></td>
            </tr>
            <tr>
              <th colspan="6">Saves</th>
            </tr>
            <tr>
              <td class="strsave"></td><td class="dexsave"></td><td class="consave"></td><td class="intsave"></td><td class="wissave"></td><td class="chasave"></td>
            </tr>
            <tr>
              <th>HP</th><td><input type="number" /> / </td><td class="hpmax"></td><th>Hitdice</th><td><input type="number" /> / </td><td class="hitdice"></td>
            </tr>
            <tr>
              <th>AC:</th><td class="ac"></td><th>Speed</th><td class="speed"></td>
            </tr>
            <tr>
              <th colspan="2">Inspiration</th><td><input type="number" /></td>
              
              <th colspan="2">Passive Perception</th><td class="passiveperception"></td>
            </tr>
            <tr>
              <th colspan="5">Proficiency Bonus</th><td class="proficiencybonus"></td>
            </tr>
          </table>
          <div class="accordion">
            <h3>
              Skills
            </h3>
            <table class="table">  
              <tr>
                <th colspan="2">Acrobatics</th><td class="acrobatics"></td><th colspan="2">Animal Handling</th><td class="animalhandling"></td>
              </tr>
              <tr>
                <th colspan="2">Arcana</th><td class="arcana"></td><th colspan="2">Athletics</th><td class="athletics"></td>
              </tr> 
              <tr>
                <th colspan="2">Deception</th><td class="deception"></td><th colspan="2">History</th><td class="history"></td>
              </tr> 
              <tr>
                <th colspan="2">Insight</th><td class="insight"></td><th colspan="2">Intimidation</th><td class="intimidation"></td>
              </tr> 
              <tr>
                <th colspan="2">Investigation</th><td class="investigation"></td><th colspan="2">Medicine</th><td class="medicine"></td>
              </tr> 
              <tr>
                <th colspan="2">Nature</th><td class="nature"></td><th colspan="2">Perception</th><td class="perception"></td>
              </tr> 
              <tr>
                <th colspan="2">Performance</th><td class="performance"></td><th colspan="2">Persuasion</th><td class="persuasion"></td>
              </tr> 
              <tr>
                <th colspan="2">Religion</th><td class="religion"></td><th colspan="2">Slight of Hand</th><td class="slightofhand"></td>
              </tr> 
              <tr>
                <th colspan="2">Stealth</th><td class="stealth"></td><th colspan="2">Survival</th><td class="survival"></td>
              </tr>
            </table>
            <h3 class="attacksheading">Attacks</h3>
            <div class="attacks"></div>
            <h3>Possessions </h3>
            <div class="possessions"></div>
            <h3>Proficiencies, Features, Traits</h3>
            <div class="features"></div>
            <h3>Physical Description</h3>
            <div class="physicaldescription"></div>
          </div>
          <input type="button" class="delete" value="Remove" />
        </div>
            <div class="attack">
              <span class="col-sm-4 attackname"></span><span class="col-sm-4 bonus"></span><span class="col-sm-4 damage"></span>
            </div>
      </div>
      <div class="container-fluid">
        <main class="row">
<div class="col-md-3">
  <div class="row">
    <div class="col-sm-6">
      <a href="{{ path('creator') }}">Creature Creator</a>
      <select size="10" id="charselect" class="form-control">

      </select>
    </div>
    <div class="col-sm-6 btn-group-vertical " style="padding-top: 40px;">
      <input type="button" class="btn btn-default" id="addparty" value="Add to Party" />
      <input type="button" class="btn btn-default" id="addencounter" value="Add to Encounter" />
      <input type="button" class="btn btn-default" id="addinitiative" value="Add to Initiative" />
    </div>
  </div>
  <div id="initiative" class="col-sm-12">
      <h3>Initiative</h3>
      <table class="datatable table table-hover table-responsive table-striped">
        <thead>
          <tr><th>Character Name</th><th>Mod</th><th>Score</th></tr>
        </thead>
        <tbody id="chartablebody">
            <tr name="char1" id="char1" class="characterinit">
              <td><input type="text" class="charname" name="char1name" id="char1name" value="" /></td>
              <td><input type="number" name="char1init" id="char1init" class="charinit" value="" style="width:40px;"/></td>
              <td id="char1roll" class="charroll"></td>
            </tr>
        </tbody>
      </table>
      <input type="button" value="Add Character" id="addCharButton" />
      <input type="button" id="rollinit" value="roll initiative" />
  </div>
  <div id="journal" class="col-sm-12">
    <script>
      var userid = "{{ app.user.id }}"
      var getallroute = "{{ path("get_journals", {'userid': app.user.id}) }}"
      var addroute = "{{ path("add_journal", {'userid': app.user.id})}}"
      var updateroute = "{{ path("update_journal", {'journalid': 1})}}"
      var deleteroute = "{{ path("delete_journal", {'userid': app.user.id, 'journalid': 1})}}"
      
    </script>
    <br />
    <div id="createjournal">
      <label>Date</label> <select id="month">
        <option val="Dorunor">Dorunor</option>
        <option val="Trimalan">Trimalan</option>
        <option val="Sylvanus">Sylvanus</option>
        <option val="Gaiana">Gaiana</option>
        <option val="Maridia">Maridia</option>
        <option val="Moltyr">Moltyr</option>
        <option val="Saris">Saris</option>
        <option val="Tockra">Tockra</option>
        <option val="Amatherin">Amatherin</option>
      </select>
      <select id="day">
        <option val="1">1</option><option val="1">2</option><option val="1">3</option><option val="1">4</option>
        <option val="1">5</option><option val="1">6</option><option val="1">7</option><option val="1">8</option>
        <option val="1">9</option><option val="1">10</option><option val="1">11</option><option val="1">12</option>
        <option val="1">13</option><option val="1">14</option><option val="1">15</option><option val="1">16</option>
        <option val="1">17</option><option val="1">18</option><option val="1">19</option><option val="1">20</option>
        <option val="1">21</option><option val="1">22</option><option val="1">23</option><option val="1">24</option>
        <option val="1">25</option><option val="1">26</option><option val="1">27</option><option val="1">28</option>
        <option val="1">29</option><option val="1">30</option><option val="1">31</option><option val="1">32</option>
        <option val="1">33</option><option val="1">34</option><option val="1">35</option><option val="1">36</option>
        <option val="1">37</option><option val="1">38</option><option val="1">39</option><option val="1">40</option>
      </select>
      <select id="year">
        <option val="1846">1846</option>
        <option val="1845">1845</option>
        <option val="1844" selected="selected">1844</option>
        <option val="1843">1842</option>
        <option val="1841">1841</option>
        <option val="1840">1840</option>
      </select>
      <br />
      <textarea id="text" class="col-sm-12">Journal Text</textarea>
      <br />
      <input type="button" id="addjournal" value="Add Journal" />
    </div>
    <div id="journalentries">
      
    </div>
  </div>
</div>
<div class="col-md-9 pull-right">
  <div class="row" id="party">
    <h3>Party</h3>

  </div>
  <div class="row" id="encounter">
    <h3>Encounter</h3>
  </div>
</div>