<% provide(:title, "Creature Creator") %>
<!--This is a static page layout for now-->
<div>
  <select>
    <option>Character 1</option>
    <option>Character 2</option>
  </select>
  <input type="button" value="Load Character" />
  <input type="button" value="Save Character" />
</div>
<div>
  <label>Name: <input type="text" /></label>
  <label>Class and Level: <input type="text" /></label>
  <label>Background: <input type="text" /></label>
  <label>Race: <input type="text" /></label>
  <label>Alignment: <input type="text" /></label>
  <label>Experience: <input type="number" /></label>
  <label>CR: <input type="text" /></label>
</div>
<div>
  <label for="strength">Strength: <input type="number" /></label>
  <label for="strength">Dexterity: <input type="number" /></label>
  <label for="strength">Constitution: <input type="number" /></label>
  <label for="strength">Intelligence: <input type="number" /></label>
  <label for="strength">Wisdom: <input type="number" /></label>
  <label for="strength">Charisma: <input type="number" /></label>
</div>
<div>
  <label for="hp">HP: <input type="number" /> / <input type="number" /></label>
  <label for="hitdice">Hitdice <input type="number" /> / <input type="number" /></label>
</div>
<div>
  <label for="inspiration">Inspiration: <input type="number" /></label>
</div>
<div>
  <label>Proficiency Bonus: <input type="number" /></label>
  <h4>Saves</h4>
  <label>Strength: <input type="number" /></label>
  <label>Dexterity: <input type="number" /></label>
  <label>Constitution: <input type="number" /></label>
  <label>Intelligence: <input type="number" /></label>
  <label>Wisdom: <input type="number" /></label>
  <label>Charisma: <input type="number" /></label>
</div>
<div>
  <h4>Skills</h4>
  <label>Acrobatics: <input type="number" /></label>
  <label>Animal Handling: <input type="number" /></label>
  <label>Arcana: <input type="number" /></label>
  <label>Athletics: <input type="number" /></label>
  <label>Deception: <input type="number" /></label>
  <label>History: <input type="number" /></label>
  <label>Insight: <input type="number" /></label>
  <label>Intimidation: <input type="number" /></label>
  <label>Investigation: <input type="number" /></label>
  <label>Medicine: <input type="number" /></label>
  <label>Nature: <input type="number" /></label>
  <label>Perception: <input type="number" /></label>
  <label>Performance: <input type="number" /></label>
  <label>Persuasion: <input type="number" /></label>
  <label>Religion: <input type="number" /></label>
  <label>Slight of Hand: <input type="number" /></label>
  <label>Stealth: <input type="number" /></label>
  <label>Survival: <input type="number" /></label>
</div>
<div>
  <label>Passive Perception <input type="number" /></label>
</div>

<section>
  <h3>Possessions</h3>
  <label>Carry Weight: <input type="number" /></label>

<div>
  <h4>Equipment</h4>
  <textarea></textarea>
</div>

<div>
  <h4>Treasure</h4>
  <textarea></textarea>
</div>
</section>
<div>
  <h4>Proficiencies</h4>
  <textarea></textarea>
</div>

<div>
  <h4>Features and Traits</h4>
  <textarea></textarea>
</div>


