<% provide(:title, "Home") %>

<p>
  The Dungeon Master's Toolkit is a set of tools for streamlining a tabletop game without virtualizing the game itself.  Players are presumed to be playing on a real tabletop, but
  managing all the information for a campaign can be stressful when players are shooting off questions rapid fire at the same time.  DM Toolkit allows
  dungeon masters to manage the active information for an encounter on a live screen, track your players (health, status, etc), build monsters and NPCs, and then add them to encounters on the fly.
</p>