<% provide(:title, "Home") %>

<div class="center jumbotron">
  <h1>The Dungeon Master's Toolkit</h1>


  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>

<p>
  The Dungeon Master's Toolkit is a set of tools for streamlining a tabletop game without virtualizing the game itself.  Players are presumed to be playing on a real tabletop, but
  managing all the information for a campaign can be stressful when players are shooting off questions rapid fire at the same time.
</p>